.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color:#000000;

}

.header {
    background-color: #ffffff;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav__logo {
    position: relative;

}

.content {

}

.recipes {
    background-color: #0A2850;

}

.reservation {

}

.footer {

}
